@using OnlineStore.Domain.ViewModel.Common
@model PagingViewModel

@if (Model.PageCount > 1)
{
    <div class="row">
        <div class="col-12">
            <nav class="border-top py-4">
                <!-- start of pagination -->
                <ul class="pagination justify-content-center fa-num">
                    <li class="page-item @((Model.Page==Model.StartPage)?"disabled":"")">
                        <a class="page-link" onclick="fillPageId('@(Model.Page-1)')" aria-label="Previous">
                            <i class="ri-arrow-right-s-line"></i>
                        </a>
                    </li>
                    @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                    {
                        <li class="page-item @((i==Model.Page)?"active":"")">
                            <a onclick="fillPageId('@i')" class="page-link">@i</a>
                        </li>
                    }


                    <li class="page-item @((Model.Page==Model.EndPage)?"disabled":"")">
                        <a class="page-link" onclick="fillPageId('@(Model.Page+1)')" aria-label="Next">
                            <i class="ri-arrow-left-s-line"></i>
                        </a>
                    </li>
                </ul>
                <!-- end of pagination -->
            </nav>
        </div>
    </div>
}