@using OnlineStore.Application.Extensions
@using OnlineStore.Application.Generators
@using OnlineStore.Domain.Enum.Ticket
@using OnlineStore.Domain.ViewModel.Tiket
@model List<TiketViewModel>
@{
    ViewData["Title"] = "تیکت های شما";
}
<div class="ui-box bg-white mb-5">
    <div class="ui-box-title align-items-center justify-content-between">
        تیکتهای شما
        <a asp-area="UserPanel" asp-controller="Tiket" asp-action="Create" class="btn btn-outline-light">تیکت جدید <i class="ri-add-line ms-2"></i></a>
    </div>
    <div class="ui-box-content">
        @if (Model != null && Model.Any())
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>موضوع</th>
                            <th>بخش</th>
                            <th>اولویت</th>
                            <th>وضعیت</th>
                            <th>زمان ایجاد</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="fa-num" hidden>@item.TicketId</td>
                                <td class="fa-num">@item.Title</td>
                                <td class="fa-num">@item.Section.GetDisplayName()</td>
                                <td class="fa-num">@item.Priority.GetDisplayName()</td>
                                <td class="fa-num">
                                    @switch (item.Status)
                                    {
                                        case TicketStatus.AdminAnswered:
                                            <span class="badge bg-success rounded-pill">
                                                @item.Status.GetDisplayName()
                                            </span>

                                            break;

                                        case TicketStatus.UserAnswered:
                                            <span class="badge bg-info rounded-pill">
                                                @item.Status.GetDisplayName()
                                            </span>

                                            break;

                                        case TicketStatus.Pending:
                                            <span class="badge bg-warning rounded-pill">
                                                @item.Status.GetDisplayName()
                                            </span>

                                            break;

                                        case TicketStatus.Close:
                                            <span class="badge bg-danger rounded-pill">
                                                @item.Status.GetDisplayName()
                                            </span>

                                            break;

                                    }
                                </td>
                                <td class="fa-num">@item.CreateDate.ToShamsi()</td>
                                <td>
                                    <a asp-action="Detail" asp-route-ticketId="@item.TicketId" class="btn btn-circle btn-primary my-1">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <partial name="_UserPanelNotFoundItem" />
        }
    </div>
</div>