@using OnlineStore.Domain.ViewModel.Common
@model PagingViewModel
<div class="dataTables_paginate paging_simple_numbers" id="tableExport_paginate">
    @if (Model.PageCount > 1)
    {
        <ul class="pagination">
            <li class="paginate_button page-item previous @((Model.Page==Model.StartPage)?"disabled":"")" id="tableExport_previous">
                <a onclick="fillPageId('@(Model.Page-1)')" aria-controls="tableExport" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
            </li>
            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li class="paginate_button page-item @((i==Model.Page)?"active":"")">
                    <a onclick="fillPageId('@i')" aria-controls="tableExport" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                </li>
            }

            <li class="paginate_button page-item next @((Model.Page== Model.EndPage)?"disabled":"")" id="tableExport_next">
                <a onclick="fillPageId('@(Model.Page+1)')" aria-controls="tableExport" data-dt-idx="3" tabindex="0" class="page-link">بعدی</a>
            </li>
        </ul>
    }
</div>