@using OnlineStore.Application.Static
@using OnlineStore.Domain.ViewModel.Client.Product
@model List<LastesProductViewModel>
@if (Model != null && Model.Any())
{
    <div class="ui-box mb-5">
        <div class="ui-box-title">محصولات مشابه</div>
        <div class="ui-box-content">
            <!-- Slider main container -->
            <div class="swiper product-swiper-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper" id="swiper-wrapper-1636dda44020cf8c" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                    <!-- Slides -->
                    @foreach (var item in Model)
                    {

                        <div class="swiper-slide " role="group" style="width: 230.8px; margin-left: 10px;">
                            <!-- start of product-card -->
                            <div class="product-card">
                                <div class="product-thumbnail">
                                    <a asp-area="" asp-controller="Home" asp-action="ProductDetail" asp-route-slug="@item.Slug">
                                        <img src="@PathTools.ProductImage/@item.ProductImage" alt="product title">
                                    </a>
                                </div>
                                <div class="product-card-body">
                                    <h2 class="product-title">
                                        <a asp-area="" asp-controller="Home" asp-action="ProductDetail" asp-route-slug="@item.Slug">
                                            @item.ProductTitle
                                        </a>
                                    </h2>
                                    <div class="product-variant">
                                        @foreach (var color in item.Colors)
                                        {
                                            @if (color.Quantity > 0)
                                            {
                                                <span class="color" style="background-color: @color.Color;"></span>
                                            }

                                        }
                                        <span>+</span>
                                    </div>
                                    <div class="product-price fa-num">
                                        <span class="price-now">@item.Price.ToString("#,0") <span class="currency">تومان</span></span>
                                    </div>
                                </div>
                                <div class="product-card-footer">
                                    <div class="d-flex align-items-center justify-content-between border-top mt-2 py-2">
                                        <div class="product-actions">
                                            <partial name="_ProductCardFooter" model="item"/>
                                        </div>
                                   @*      <div class="product-rating fa-num">
                                            <i class="ri-star-fill star"></i>
                                            <strong>۴.۴</strong>
                                            <span>(۴۳۶)</span>
                                        </div> *@
                                    </div>
                                </div>
                            </div>
                            <!-- end of product-card -->
                        </div>


                    }
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" style="width: 80px;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true" style="right: 24px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" tabindex="0" role="button" aria-label="Go to slide 2" style="right: 24px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" tabindex="0" role="button" aria-label="Go to slide 3" style="right: 24px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4" style="right: 24px;"></span></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-3dd467815feaaf86" aria-disabled="false"></div>
                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-3dd467815feaaf86" aria-disabled="false"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>
}
